USE_FIRESTORE=true
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"ahavat-menachem"}
DRIVE_PAYMENT_FOLDER_ID=1j4rGV1iSveiQlzAErId5hUAKhNe7CTRJ
DEVELOPER_PASSWORD=change-this-before-production
